In [1]:
try:
    output_filepath
except:
    output_filepath = 's3://workspaces-clarity-mgmt-pro/jaime.oliver/misc/social_capital/data/processed_3/'

In [5]:
import os
os.chdir('/repos/social_capital_in_trade_networks/src/')
from pathlib import Path

import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import networkx as nx

from src.utils.utils_s3 import read_s3_graphml

In [7]:
df = pd.read_csv('s3://workspaces-clarity-mgmt-pro/jaime.oliver/misc/social_capital/data/raw/MIG_12082020131505678.csv')
df = df[df['Variable'] == 'Inflows of foreign population by nationality']  
df = df[df.Year == 2015]

/home/ubuntu/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
df[df.COU == 'CHN']

Empty DataFrame
Columns: [CO2, Country of birth/nationality, VAR, Variable, GEN, Gender, COU, Country, YEA, Year, Value, Flag Codes, Flags]
Index: []

In [10]:
df[df.CO2 == 'CHN']

,CO2,Country of birth/nationality,VAR,Variable,GEN,Gender,COU,Country,YEA,Year,Value,Flag Codes,Flags
39723,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,AUS,Australia,2015,2015,27924.0,NaN,NaN
39757,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,AUT,Austria,2015,2015,2053.0,NaN,NaN
39793,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,BEL,Belgium,2015,2015,1236.0,NaN,NaN
39829,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,CAN,Canada,2015,2015,19531.0,NaN,NaN
39844,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,CZE,Czech Republic,2015,2015,469.0,NaN,NaN
39880,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,DNK,Denmark,2015,2015,1288.0,NaN,NaN
39916,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,FIN,Finland,2015,2015,732.0,NaN,NaN
39952,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,FRA,France,2015,2015,4991.0,NaN,NaN
39970,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,DEU,Germany,2015,2015,25511.0,NaN,NaN
40006,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,HUN,Hungary,2015,2015,3524.0,NaN,NaN
40042,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,ISL,Iceland,2015,2015,60.0,NaN,NaN
40077,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,ITA,Italy,2015,2015,14866.0,NaN,NaN
40111,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,JPN,Japan,2015,2015,100571.0,NaN,NaN
40147,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,KOR,Korea,2015,2015,177001.0,NaN,NaN
40183,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,LUX,Luxembourg,2015,2015,448.0,NaN,NaN
40212,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,MEX,Mexico,2015,2015,2226.0,NaN,NaN
40230,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,NLD,Netherlands,2015,2015,5406.0,NaN,NaN
40266,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,NZL,New Zealand,2015,2015,10706.0,NaN,NaN
40302,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,NOR,Norway,2015,2015,903.0,NaN,NaN
40338,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,POL,Poland,2015,2015,3759.0,NaN,NaN
40356,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,PRT,Portugal,2015,2015,2576.0,NaN,NaN
40375,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,SVK,Slovak Republic,2015,2015,28.0,NaN,NaN
40405,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,ESP,Spain,2015,2015,10134.0,NaN,NaN
40439,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,SWE,Sweden,2015,2015,2326.0,NaN,NaN
40465,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,CHE,Switzerland,2015,2015,3265.0,NaN,NaN
40494,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,GBR,United Kingdom,2015,2015,43000.0,NaN,NaN
40527,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,USA,United States,2015,2015,74558.0,NaN,NaN
40545,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,CHL,Chile,2015,2015,1703.0,NaN,NaN
40558,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,EST,Estonia,2015,2015,55.0,NaN,NaN
40586,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,SVN,Slovenia,2015,2015,143.0,NaN,NaN
452807,CHN,China,B11,Inflows of foreign population by nationality,TOT,Total,LVA,Latvia,2015,2015,57.0,NaN,NaN

In [9]:
G = read_s3_graphml(path=os.path.join(output_filepath,'2015/migration_network.graphml'))

In [21]:
for u, v, data in G.in_edges('CHN', data=True):
    print(u,v,data)

In [29]:
len(G.in_edges(['AUS'],data=True))

64

In [30]:
G.in_edges(['CHN'],data=True)

InEdgeDataView([])

In [31]:
len(G.out_edges(['AUS'],data=True))

30

In [32]:
len(G.out_edges(['CHN'],data=True))

31

In [14]:
from networkx import hits
h,a=nx.hits(G)

In [16]:
a

{'ARG': 0.0,
 'AUS': 0.018606763408897442,
 'AUT': 0.024941722821147174,
 'BEL': 0.013035610610485977,
 'CAN': 0.04473383046992823,
 'CHE': 0.008987770759165589,
 'CHL': 0.009126683572267905,
 'CZE': 0.0024012182518352494,
 'DEU': 0.30844570796398163,
 'DNK': 0.0038064681806102003,
 'ESP': 0.029481604811755907,
 'EST': 0.00026493481580155026,
 'FIN': 0.001246282709312416,
 'FRA': 0.08154107588428847,
 'HUN': 0.0016863709990289407,
 'ISL': 0.00016975172280640232,
 'ISR': 7.03589370745219e-05,
 'ITA': 0.03858083885768862,
 'JPN': 0.017424842495820367,
 'KOR': 0.014483094501823345,
 'LUX': 0.002580009173874525,
 'LVA': 0.00018600327070075493,
 'MEX': 0.003623820957869048,
 'NLD': 0.011059411312650097,
 'NOR': 0.003787617216827671,
 'NZL': 0.07093207826957511,
 'POL': 0.0071294997254557685,
 'SVN': 0.00830364637298174,
 'SWE': 0.014358557977460877,
 'USA': 0.2249663525972289,
 'GBR': 0.010580937038256674,
 'SVK': 0.00011623257990196965,
 'BGR': 0.0,
 'PRT': 0.02334051868542433,
 'BRA': 0.0,
 'BRN': 0.0,
 'CHN': 0.0,
 'COL': 0.0,
 'CRI': 0.0,
 'CYP': 0.0,
 'IRL': 3.830480726488157e-07,
 'GRC': 0.0,
 'HKG': 0.0,
 'HRV': 0.0,
 'IDN': 0.0,
 'IND': 0.0,
 'KAZ': 0.0,
 'KHM': 0.0,
 'LTU': 0.0,
 'MAR': 0.0,
 'MLT': 0.0,
 'MYS': 0.0,
 'PER': 0.0,
 'PHL': 0.0,
 'ROU': 0.0,
 'ROW': 0.0,
 'RUS': 0.0,
 'SAU': 0.0,
 'SGP': 0.0,
 'THA': 0.0,
 'TUN': 0.0,
 'TUR': 0.0,
 'TWN': 0.0,
 'VNM': 0.0,
 'ZAF': 0.0}