## Gravity data
We leverage the gravity dataset provided by CEPII: http://www.cepii.fr/cepii/en/bdd_modele/presentation.asp?id=8

Cite: 
- Head, K., Mayer, T. & Ries, J. (2010), The erosion of colonial trade linkages after independence. Journal of International Economics, 81(1):1-14
- Head, K. and T. Mayer, (2014), "Gravity Equations: Toolkit, Cookbook, Workhorse." Handbook of International Economics, Vol. 4,eds. Gopinath, Helpman, and Rogoff, Elsevier.

In [1]:
try:
    output_filepath
except:
    output_filepath = 's3://workspaces-clarity-mgmt-pro/jaime.oliver/misc/social_capital/data/processed/'
    input_filepath = 's3://workspaces-clarity-mgmt-pro/jaime.oliver/misc/social_capital/data/raw/'

In [2]:
import pandas as pd
import os

In [13]:
df_gravity = pd.read_csv(os.path.join(input_filepath, 'Gravity_csv_V202102', 'Gravity_V202102.csv'))
df_countries = pd.read_csv(os.path.join(input_filepath, 'Gravity_csv_V202102', 'Countries_V202102.csv'))

In [4]:
trade_facilitation_unilateral_variables = [
    'gatt', # Dummy equal to 1 if country is a GATT member in a given year, unilateral.
    'wto', # Dummy equal to 1 if country is a WTO member in a given year, unilateral.
    'eu', #Dummy equal to 1 if country is a EU member in a given year, unilateral.
    'entry_cost', # Cost of business start-up procedures (% of GNI per capita), unilateral.
    'entry_proc', # Number of start-up procedures to register a business, unilateral.
    'entry_time', # Days required to start a business, unilateral.
    'entry_tp', # Days required to start a business + number of procedures to start a business, unilateral
]

In [5]:
trade_facilitation_bilateral_variables = [
    'rta', # Dummy equal to 1 if origin and destination country are engaged in a regional trade agreement of any type within the given year (Source: WTO), bilateral.
    'rta_coverage', # Coverage of the trade agreement. 0 = “no trade agreement” (r ta = 0). 1 = “goods only”, 2 = “services only”, 3 = “goods and services”. Source: WTO, bilateral.
    'rta_type', # Categorical variable describing type of regional trade agreement if origin and destination country are engaged in a regional trade agreement within the given year and rta = 1 (Source: WTO, see Table ?? for a description of the values taken by this variable), bilateral.    
]

geographic_bilateral_variables = [
    'contig', # Dummy equal to 1 if countries are contiguous, bilateral.
    'dist', # Distance between most populated city of each country, measured in km, bilateral.
    'distw', # Population-weighted distance between most populated cities, measured in km, bilateral
    'distcap', # Distance between capitals, measured in km, bilateral
    'distwces', #  Population-weighted distance between most populated cities, measured in km, calculated using CES formulation with θ = −1 (see Head and Mayer 2010 for more details), bilateral.
]

cultural_bilateral_variables = [
    'comlang_off', # Dummy equal to 1 if countries share common official or primary language, bilateral.
    'comlang_ethno', # Dummy equal to 1 if countries share a common language spoken by at least 9% of the population, bilateral.
    'comcol', # Dummy equal to 1 if countries share a common colonizer post 1945, bilateral.
    'col45', # Dummy equal to 1 if countries are or were in colonial relationship post 1945, bilateral.
    'comleg_pretrans', # Dummy equal to 1 if countries share common legal origins before transition, bilateral.
    'comleg_posttrans', # Dummy equal to 1 if countries share common legal origins after transition, bilateral.
    'transition_legalchange', # Dummy equal to 1 if common legal origin has changed since the above-mentioned transition, bilateral.
    'comrelig', # Religious proximity index (Disdier and Mayer 2007): obtained by adding the products of the shares of Catholics, Protestants and Muslims in the exporting and importing countries. It is bounded between 0 and 1, and is maximum if the country pair has a religion which (1) comprises a vast majority of the population, and (2) is the same in both countries.
    'heg_o', # Dummy equal to 1 if origin is current or former hegemon of destination, bilateral.
    'heg_d', # Dummy equal to 1 if destination is current or former hegemon of origin, bilateral.
    'col_dep_ever', # Dummy equal to 1 if country pair was ever in colonial relationship. This variable also takes into account colonial relationships before 1948 and is a bilateral variable.
    'col_dep', # Dummy equal to 1 if country pair currently in colonial or dependency relationship, bilateral.
    'col_dep_end_year', # Independence date from hegemon of the time, if pair was ever in a colonial or dependency relationship (col_dep_ever is equal to 1). Missing if the pair never was in a colonial or dependency relationship (col_dep_ever = 0). This variable also takes into account colonial relationships before 1948 and is a bilateral variable.
    'col_dep_end_conflict', # Dummy equal to 1 if independence involved conflict and ifcol_dep_ever is equal to 1. Missing if the pair never was in a colonial or dependency relationship (col_dep_ever = 0). This variable also takes into account colonial relationships before 1948 and is a bilateral variable.
    'sibling_ever', # Dummy equal to 1 if pair ever in sibling relationship (i.e. they ever had th same hegemon). This variable also takes into account colonial relationships before 1948 and is a bilateral variable. 13
    'sibling', # Dummy equal to 1 if pair currently in sibling relationship (i.e. they have the same hegemon), bilateral.
    'empire', # Hegemon if sibling equal to 1 for the time that country i and j are in current sibling relationship (i.e. year is smaller than sever_year), bilateral.
    'sever_year', # Severance year for pairs if sibling_ever is equal to 1. Severance year corresponds to the year in which the first sibling in the sibling relationship became independent. This variable also takes into account colonial relationships before 1948 and is a bilateral variable.
    'sib_conflict', #Dummy equal to 1 if pair ever in sibling relationship (sibling_ever = 1) and their independence from the hegemon involved conflict with hegemon. This variable also takes into account colonial relationships before 1948 and is a bilateral variable.
]

In [16]:
new_columns = ['iso3'] + trade_facilitation_unilateral_variables
columns = [c + '_o' for c in new_columns]
df_instruments = df_gravity[columns]
df_instruments.columns = new_columns

In [15]:
df_gravity

,year,iso3_o,iso3_d,iso3num_o,iso3num_d,country_exists_o,country_exists_d,gmt_offset_2020_o,gmt_offset_2020_d,contig,...,entry_time_o,entry_time_d,entry_tp_o,entry_tp_d,tradeflow_comtrade_o,tradeflow_comtrade_d,tradeflow_baci,manuf_tradeflow_baci,tradeflow_imf_o,tradeflow_imf_d
0,1948,ABW,ABW,533.0,533.0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1949,ABW,ABW,533.0,533.0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1950,ABW,ABW,533.0,533.0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1951,ABW,ABW,533.0,533.0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1952,ABW,ABW,533.0,533.0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4428283,2015,ZWE,ZWE,716.0,716.0,1,1,2.0,2.0,0.0,...,91.0,91.0,101.0,101.0,NaN,NaN,NaN,NaN,NaN,NaN
4428284,2016,ZWE,ZWE,716.0,716.0,1,1,2.0,2.0,0.0,...,91.0,91.0,101.0,101.0,NaN,NaN,NaN,NaN,NaN,NaN
4428285,2017,ZWE,ZWE,716.0,716.0,1,1,2.0,2.0,0.0,...,61.0,61.0,70.0,70.0,NaN,NaN,NaN,NaN,NaN,NaN
4428286,2018,ZWE,ZWE,716.0,716.0,1,1,2.0,2.0,0.0,...,32.0,32.0,41.0,41.0,NaN,NaN,NaN,NaN,NaN,NaN
4428287,2019,ZWE,ZWE,716.0,716.0,1,1,2.0,2.0,0.0,...,27.0,27.0,36.0,36.0,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_gravity.columns

Index(['year', 'iso3_o', 'iso3_d', 'iso3num_o', 'iso3num_d',
       'country_exists_o', 'country_exists_d', 'gmt_offset_2020_o',
       'gmt_offset_2020_d', 'contig', 'dist', 'distw', 'distcap', 'distwces',
       'dist_source', 'comlang_off', 'comlang_ethno', 'comcol', 'comrelig',
       'col45', 'legal_old_o', 'legal_old_d', 'legal_new_o', 'legal_new_d',
       'comleg_pretrans', 'comleg_posttrans', 'transition_legalchange',
       'heg_o', 'heg_d', 'col_dep_ever', 'col_dep', 'col_dep_end_year',
       'col_dep_end_conflict', 'empire', 'sibling_ever', 'sibling',
       'sever_year', 'sib_conflict', 'pop_o', 'pop_d', 'gdp_o', 'gdp_d',
       'gdpcap_o', 'gdpcap_d', 'pop_source_o', 'pop_source_d', 'gdp_source_o',
       'gdp_source_d', 'gdp_ppp_o', 'gdp_ppp_d', 'gdpcap_ppp_o',
       'gdpcap_ppp_d', 'pop_pwt_o', 'pop_pwt_d', 'gdp_ppp_pwt_o',
       'gdp_ppp_pwt_d', 'gatt_o', 'gatt_d', 'wto_o', 'wto_d', 'eu_o', 'eu_d',
       'rta', 'rta_coverage', 'rta_type', 'entry_cost_o', 'entry_cost_d',
       'entry_proc_o', 'entry_proc_d', 'entry_time_o', 'entry_time_d',
       'entry_tp_o', 'entry_tp_d', 'tradeflow_comtrade_o',
       'tradeflow_comtrade_d', 'tradeflow_baci', 'manuf_tradeflow_baci',
       'tradeflow_imf_o', 'tradeflow_imf_d'],
      dtype='object')