In [1]:
%load_ext autoreload
%autoreload 2

In [68]:
import networkx as nx
import numpy as np
from utils_networks import godfhater_index, bridging_centrality, favor_centrality

import pandas as pd

In [127]:
files_path = '//domino/datasets/jaime_oliver/industry_network/scratch/'
year=2005
network_path = f'{files_path}{year}/migration_network.graphml'
network_path = f'{files_path}{year}/A_country.graphml'
G = nx.readwrite.graphml.read_graphml(network_path)

In [129]:
favor_centrality(G, tol = 0.001)

{'ARG': 11,
 'AUS': 17,
 'AUT': 23,
 'BEL': 21,
 'BGR': 28,
 'BRA': 10,
 'BRN': 16,
 'CAN': 12,
 'CHE': 20,
 'CHL': 18,
 'CHN': 19,
 'COL': 11,
 'CRI': 23,
 'CYP': 21,
 'CZE': 21,
 'DEU': 20,
 'DNK': 22,
 'ESP': 18,
 'EST': 27,
 'FIN': 23,
 'FRA': 14,
 'GBR': 16,
 'GRC': 17,
 'HKG': 22,
 'HRV': 20,
 'HUN': 29,
 'IDN': 18,
 'IND': 19,
 'IRL': 26,
 'ISL': 20,
 'ISR': 24,
 'ITA': 17,
 'JPN': 11,
 'KAZ': 15,
 'KHM': 17,
 'KOR': 21,
 'LTU': 20,
 'LUX': 24,
 'LVA': 20,
 'MAR': 17,
 'MEX': 14,
 'MLT': 28,
 'MYS': 26,
 'NLD': 22,
 'NOR': 19,
 'NZL': 18,
 'PER': 14,
 'PHL': 19,
 'POL': 27,
 'PRT': 15,
 'ROU': 23,
 'ROW': 20,
 'RUS': 16,
 'SAU': 12,
 'SGP': 29,
 'SVK': 22,
 'SVN': 23,
 'SWE': 21,
 'THA': 24,
 'TUN': 15,
 'TUR': 16,
 'TWN': 24,
 'USA': 9,
 'VNM': 22,
 'ZAF': 19}

In [78]:
bridging_centrality(G)

{'ARG': 0.7432686303448597,
 'AUS': 1.0499445286961642,
 'AUT': 1.0654562720077143,
 'BEL': 1.2304878888011734,
 'BGR': 1.2031792928315448,
 'BRA': 0.898448863821122,
 'BRN': 0.7514333979390034,
 'CAN': 0.8902916552763899,
 'CHE': 1.103750333089129,
 'CHL': 0.863402927389271,
 'CHN': 2.2500412583338165,
 'COL': 0.7781536740248083,
 'CRI': 0.7342759833123114,
 'CYP': 0.8773258804081588,
 'CZE': 1.3589297060563548,
 'DEU': 1.5955063453078362,
 'DNK': 0.9454191798415408,
 'ESP': 1.1143478951900327,
 'EST': 1.0979437016879168,
 'FIN': 0.9944443958926635,
 'FRA': 1.148291252489067,
 'GBR': 1.1813920599213745,
 'GRC': 0.7866057551292284,
 'HKG': 0.9611973646168059,
 'HRV': 0.8891429922647758,
 'HUN': 1.1540086669579759,
 'IDN': 0.9579238504067412,
 'IND': 1.086642496388379,
 'IRL': 1.1487466888931002,
 'ISL': 0.9435683371319951,
 'ISR': 0.7178358116393221,
 'ITA': 1.2439624147822148,
 'JPN': 1.07977870804976,
 'KAZ': 0.6502345967082325,
 'KHM': 0.8083705507293738,
 'KOR': 1.4334794264936426,
 'LTU': 0.9062415500808704,
 'LUX': 1.8046824012956408,
 'LVA': 1.066222936696933,
 'MAR': 0.77197654318502,
 'MEX': 0.7957523684291259,
 'MLT': 1.3968814030083536,
 'MYS': 1.4378727300110579,
 'NLD': 1.1713273515128995,
 'NOR': 0.8692612760588145,
 'NZL': 0.925036174730442,
 'PER': 0.7974162013344914,
 'PHL': 0.9281414471303311,
 'POL': 1.2241057814239116,
 'PRT': 0.9221722440413038,
 'ROU': 1.0610034932917798,
 'ROW': 1.7525214141395493,
 'RUS': 1.3252026265201922,
 'SAU': 0.5768740310685502,
 'SGP': 1.6146806557062523,
 'SVK': 1.3344634889115026,
 'SVN': 1.0265586914402565,
 'SWE': 0.9609800588361146,
 'THA': 1.3391591132326754,
 'TUN': 0.8998851742643087,
 'TUR': 1.049470825076703,
 'TWN': 1.2213724307093599,
 'USA': 1.3565188254874183,
 'VNM': 1.6311247585682374,
 'ZAF': 1.0433487963770944}

In [75]:
pd.DataFrame(index=G.nodes)

Empty DataFrame
Columns: []
Index: [ARG, AUS, AUT, BEL, BGR, BRA, BRN, CAN, CHE, CHL, CHN, COL, CRI, CYP, CZE, DEU, DNK, ESP, EST, FIN, FRA, GBR, GRC, HKG, HRV, HUN, IDN, IND, IRL, ISL, ISR, ITA, JPN, KAZ, KHM, KOR, LTU, LUX, LVA, MAR, MEX, MLT, MYS, NLD, NOR, NZL, PER, PHL, POL, PRT, ROU, ROW, RUS, SAU, SGP, SVK, SVN, SWE, THA, TUN, TUR, TWN, USA, VNM, ZAF]

[65 rows x 0 columns]

In [162]:
res = godfhater_index(G, tol=1e-4)
pd.DataFrame.from_dict(res, orient='index').sort_values(by=0)

            0
GBR  0.000003
JPN  0.000004
CHN  0.000005
CHE  0.000006
USA  0.000007
..        ...
KAZ  0.000236
CRI  0.000245
COL  0.000284
LVA  0.000291
BRN  0.000294

[65 rows x 1 columns]

In [87]:
gf_i = ((g_k*g_j for j, g_j in enumerate(g[:,0]) if k>j and g[k,j] == 0 and g[j,k] == 0 ) for k, g_k in enumerate(g[:,0]))

In [75]:
def flatten(L):
    '''Flattens nested lists or tuples with non-string items'''
    for item in L:
        try:
            for i in flatten(item):
                yield i
        except TypeError:
            yield item

In [88]:
np.sum(np.fromiter(gf_i, generator))

TypeError: float() argument must be a string or a number, not 'generator'

In [86]:
[list(l) for l in gf_i]

[[], [0], [], [], [], [3], [6], [], [], [0]]